.click-span{
    color: #FF5043;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.2s;
}
.click-span:hover{
    opacity: 90%;
}

.select-continent{
    position: relative;
    margin: 10px 0;
    display: flex;
}
.select-continent .checkbox{
    color: #00C9F6;
    padding: 0;
    background-color: transparent;
    transform: scale(1.3);
}

.select-continent label{
    font-size: 18px;
    padding-left: 35px;
}